@model Department
@{
    ViewData["Title"] = "Adding";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Department</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentName"></label>
            <input asp-for="DepartmentName" class="form-control" />
            <span asp-validation-for="DepartmentName" class="text-danger"></span>
        </div>
        <div class="alert-danger">
            @if (ViewData["WrongAdding"] != null)
            {
                @ViewData["WrongAdding"]
            }
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentLocation"></label>
            <input asp-for="DepartmentLocation" class="form-control" />
            <span asp-validation-for="DepartmentLocation" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create Department</button>
        <a asp-controller="Department" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to Department List
        </a>
    </div>
</form>

