@model Department

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Department</h2>
            <hr />
        </div>
        <div class="mb-3">
            @Html.Hidden("DepartmentID")
            <span asp-validation-for="DepartmentID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentName"></label>
            <input asp-for="DepartmentName" class="form-control" />
            <span asp-validation-for="DepartmentName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentLocation"></label>
            <input asp-for="DepartmentLocation" class="form-control" />
            <span asp-validation-for="DepartmentLocation" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Department" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to Department List
        </a>
    </div>
</form>