@model Inouttime

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New In Out Times</h2>
            <hr />
        </div>
@*        <div asp-validation-summary="All"></div> Bu ise bütün hepsi için tag-helper a yarıyan uyarı*@
        <div class="mb-3">
            <label asp-for="EntryTime"></label>
            <input asp-for="EntryTime" class="form-control" />
            <span asp-validation-for="EntryTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OutTime"></label>
            <input asp-for="OutTime" class="form-control" />
            <span asp-validation-for="OutTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PersonnelID"></label>
            @if (ViewBag.ListofPersonnel != null)
            {
                @Html.DropDownListFor(x=>x.PersonnelID,(List<SelectListItem>)ViewBag.ListofPersonnel,new{@class="form-control"})
            }
            <span asp-validation-for="PersonnelID" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create In and Out Times</button>
        <a asp-controller="Inouttime" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to In and Out Time List
        </a>
    </div>
</form>