@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
    string fullname = Context.Session.GetString("fullname").ToUpper();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <div class="container p-3">
        <div class="row pt-20">
            <div class="col-10">
                <h2 class="text-primary">Hey @fullname ; Error occured ! Invalid Page or Something's gone wrong ! Do you want to go Home Page ?</h2>
            </div>
        </div>
        <br /><br />
    </div>
    <form>
        <button asp-action="Index" asp-controller="Home">Back To Home Page</button>
    </form>
    <form>
        <button asp-action="Index" asp-controller="Personnel">Back To Personnel Page</button>
    </form>
    <form>
        <button asp-action="Index" asp-controller="Department">Back To Department Page</button>
    </form>
    <form>
        <button asp-action="Index" asp-controller="Inouttime">Back To In and Out Time Page</button>
    </form>
</head>
<body>
</body>
</html>
