@model Personnel

@*@Html.ValidationSummary(true)*@

<form method="post">

    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Person</h2>
            <hr />
        </div>
        <div class="mb-3">
            @Html.Hidden("PersonnelID")
            <span asp-validation-for="PersonnelID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PersonnelName"></label>
            <input asp-for="PersonnelName" class="form-control" type="text" required />
            <span asp-validation-for="PersonnelName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PersonnelLastName"></label>
            <input asp-for="PersonnelLastName" class="form-control" required />
            <span asp-validation-for="PersonnelLastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PersonnelAge"></label>
            <input asp-for="PersonnelAge" class="form-control" required />
            <span asp-validation-for="PersonnelAge" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentID"></label>
                @if(ViewBag.ListofDepartment!=null){
                    @Html.DropDownListFor(x=>x.DepartmentID,(List<SelectListItem>)ViewBag.ListofDepartment,new{@class="form-control"})
                }

@*            <input asp-for="DepartmentID" class="form-control" />*@
            <span asp-validation-for="DepartmentID" class="text-danger"></span>
        </div>
        <div class="alert-danger">
            @if (ViewData["WrongAdding"] != null)
            {
                @ViewData["WrongAdding"]
            }
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create Person</button>
        <a asp-controller="Personnel" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to Personnels List
        </a>
    </div>
</form>